* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkcyan;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


.tabs {
    margin-top: 50px;
    background-color:green;
}

.tabs__wrapper {
    display: flex;
    align-items: center;
    margin: -8px;
}

.tabs__tab {
    margin: 0 8px;
    padding: 12px;
    flex: 33.33%;
    text-align: center;
    background-color:lavender;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
}

.tabs__tab_active {
    background-color:orangered;
}

.tabs__content {
    padding: 10px;
    
}

/* .tabs__content_active {
    display: block;
    background-color:orangered;
} */